$primaryColor: #F79459;

$secondaryColor: #C2DC74;

@import 'map';

.container-fluid {
	padding:0;
	width:100%;
}


.Logo, .Top, .Testimonials, .Companies, .Map, .Footer {
	background-size:cover;
	font-family: 'Source Sans Pro';
}

.Top {
	background-color:$primaryColor;
	margin-right:0;
}

.Logo {

	display: inline-block;
	// margin-left:440px;
	//margin-right:0;
	background-color: $primaryColor;
	width: 100%;
	padding: 0px;
	margin:0px;
	margin-bottom: -10px;

	.logoTitle {
		width:auto;
		margin-left: 20px;
		h1{
			color:white;
			font-size:85px;
			margin-left: 50px;
			font-family: 'oleo script';
			margin-top: 50px;
		}
		
	}
	img{
		display: inline-block;
		width:120px;
		margin-bottom: 20px;
		padding-top: 10px;
		margin-left: -34px;
		margin-top: 5px;

	}
}


.Title {
	h2 {
		color:white;
		font-size: 40px;
		margin-top: 0px;
	}
}

.topContent {
	margin-left:60px;
	margin-right:0;
	background-color: $primaryColor;
}
	.container{
		width:43%;
		height: 45%;
		padding-bottom: 20px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		.slider_wrapper{
			overflow: hidden;
			position:relative;
			// height:280px;
			top:auto;
			#image_slider{
				position: relative;
				list-style: none;
				overflow: hidden;
				float: left;
				/*Chrom default padding for ul is 40px */
				padding:0px;
				margin:0px;
				li{
					position: relative;
					float: left;
				}
			}
			.nvgt{
				position:absolute;
				top: 120px;
				height: 50px;
				width: 30px;
				opacity: 0.6;
				&:hover{
					opacity: 0.9;
				}
			}	
		}
	
}	

#prev{
	background: #000 url('https://dl.dropboxusercontent.com/u/65639888/image/prev.png') no-repeat center;
	left: 0px;
}
#next{
	background: #000 url('https://dl.dropboxusercontent.com/u/65639888/image/next.png') no-repeat center;
	right: 0px;
}
.shopCart {
	height: 100px;
	// margin-left:-50px;
	display:block;
 }

.descripBox {
	background-color:$secondaryColor;
	border-radius:0px 0px 5px 5px;
	width:80%;
	position:relative;
	margin-left: 0px;
	p{
	margin-top:10px;
	color:white;	
	}
}

.Buttons {
	margin-top:5px;
	margin-left:0px;
}

.ModalButton {
	padding:0px;
	//position: absolute;
	top: 300px;
	left:17px;
	display: block;

	button{
		background-color: white;
		color:$primaryColor;
		border:none;
		a:hover{
			background-color:$secondaryColor;
		}
	}
}

.SocialMedia {
	margin-left:150px;

	i {
		font-size: 30px;
		margin-left: 10px;
		color:white;
	}
}

.Testimonials {
	background-color:white;
}

.testimonials {
	text-align:center;
	margin:65px;

}

.people img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin:0 auto;
    display:block;
}


.images {
    width:100%;
}
 
.customerName {
    font-weight: 100px;
    margin-right: 100px;
    text-align: center;
}

p.customerReview {
	margin-left:68px;
	margin-right:68px;
	margin-bottom:75px;

}

.testText {
	
	text-align:center;
}
.review .customerReview {
    text-align: center;
    display: inline-block;
}

.review {
	h2 {
		margin-right: 0;
	}
}

.Companies {
	
	background-color:lighten($secondaryColor,10);
}

.fourCosBox {
	width:250px;
	height:250px;
	margin:0 auto;
	display: block;
	margin-bottom:65px;
}

img.companyPics {
	width:100%;

}

h2.coTitle {
	text-align:center;
	margin:65px;
}

.Map {
	height:200px;
}

.Footer {
	height:150px;
	background-color:grey;
}
