$primaryColor: #F79459;

$secondaryColor: #C2DC74;

@import 'map';

iframe{
	width: 520px;
	height: 390px;
	background-color: $primaryColor;
	border: none;
	z-index: 1000;
	position: absolute;
	margin-left: -500px;
}

.container-fluid {
	padding:0;
	width:100%;
}

.Top, .Testimonials, .Companies, .Map, .Footer {
	background-size:cover;
}

.Top {
	height:500px;
	background-color:$primaryColor;
	margin-right:0;
}

.Logo {
	margin-left:440px;
	margin-right:0;
	.logoTitle {
		width:auto;
		h1{
			color:white;
			font-size:45px;
		}
		margin-left: 20px;
	}
	img{
		margin-top: 10px;
		margin-left:-50px;
		width:100px;

	}
}


.Title {
	h2 {
		color:white;
	}
}

.topContent {
	margin-left:60px;
	margin-right:0;
}

.shopCart {
	margin-left:50px;
}

.descripBox {
	background-color:$secondaryColor;
	border-radius:0px 0px 5px 5px;
	width:60%;
	position:relative;
	margin-left: 0px;
	p{
	margin-top:10px;
	color:white;	
	}
}

.Buttons {
	margin-top:5px;
	margin-left:0px;
}

.ModalButton {
	padding:0px;
	margin-left:-15px;
	margin-top:2px;

	button{
		background-color: white;
		color:$primaryColor;
		border:none;
		a:hover{
			background-color:$secondaryColor;
		}
	}
}

.SocialMedia {
	margin-left:150px;

	i {
		font-size: 30px;
		margin-left: 10px;
		color:white;
	}
}

.Testimonials {
	background-color:white;
}

.testimonials {
	text-align:center;
	margin:65px;

}

.people img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin:0 auto;
    display:block;
}


.images {
    width:100%;
}
 
.customerName {
    font-weight: 100px;
    margin-right: 100px;
    text-align: center;
}

p.customerReview {
	margin-left:68px;
	margin-right:68px;
	margin-bottom:75px;

}

.testText {
	
	text-align:center;
}
.review .customerReview {
    text-align: center;
    display: inline-block;
}

.review {
	h2 {
		margin-right: 0;
	}
}

.Companies {
	
	background-color:lighten($secondaryColor,10);
}

.fourCosBox {
	width:250px;
	height:250px;
	margin:0 auto;
	display: block;
	margin-bottom:65px;
}

img.companyPics {
	width:100%;

}

h1.coTitle {
	text-align:center;
	margin:65px;
}

.Map {
	height:200px;
}

.Footer {
	height:150px;
	background-color:grey;
}
